{{ template "header.html" . }}

<h2>Grant Access</h2>

<hr>
<div>
  {{ if .Scopes }}
  <div class="subtle-text">{{ .Client }} would like to:</div>
  <ul class="list-group">
    {{ range $scope := .Scopes }}
    <li class="list-group-item">{{ $scope }}</li>
    {{ end }}
  </ul>
  {{ else }}
  <div class="subtle-text">{{ .Client }} has not requested any personal information</div>
  {{ end }}
</div>
<hr>

<div class="d-flex align-items-center justify-content-between">
  <div>
    <form method="post">
      <input type="hidden" name="req" value="{{ .AuthReqID }}"/>
      <input type="hidden" name="approval" value="rejected">
      <button type="submit" class="btn bg-danger w-50">
          <span class="btn-text">Cancel</span>
      </button>
    </form>
  </div>
  <div>
    <form method="post">
      <input type="hidden" name="req" value="{{ .AuthReqID }}"/>
      <input type="hidden" name="approval" value="approve">
      <button type="submit" class="btn bg-success w-50">
          <span class="btn-text">Grant Access</span>
      </button>
    </form>
  </div>
</div>

{{ template "footer.html" . }}
